*{
    margin: 50px;
    padding: 0;
}

.button {
    border: none;
    border-radius: 50%;
    width: 200px;
    height: 200px;
    font-size: 100px;
}

.glowing {
    box-shadow: 0 0 50px 50px #0f0;
}
